.rotating10to60deg {
  animation: rotateAnimation 2s linear infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
